<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm the App component</h3>
            <!-- <p>Under the silver moonlight, Lily found an old, 
                <p>dusty book in the attic. Its pages whispered forgotten secrets of a magical forest.</p>
                <p>One evening, she read aloud a spell, unknowingly opening a portal.</p>
                <p>The next morning, she woke up in a lush, enchanted realm. </p>
                <p>There, she met a talking fox named Finn who offered to guide her.</p>
                <p>As they journeyed, they discovered that the forest was dying due to a curse.</p>
                <p>With courage, they faced challenges and collected rare ingredients. <p> 
                At the heart of the forest, they broke the curse together. As a token of gratitude</p>
                <p>the forest gifted Lily a single silver leaf that shimmered eternally.</p> -->
            <hr>
            <app-servers></app-servers> 
            <app-exercise2></app-exercise2>
            <app-server></app-server>
            <app-server></app-server>
            <!-- <div class="app-servers"></div> -->
            <!-- <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert> -->
        </div>
    </div>
</div>
